/* @import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-fondamento: "Fondamento", cursive;
   --font-roboto: "Roboto Mono", monospace;
   --font-inria-serif: "Inria Serif", serif;
}

html {
   font-family: var(--font-inria-serif);
}

button {
  cursor: pointer;
}
